.blog-view .blogentry {
    margin-top: 2em;
}
.blog-view .blogentry h2 {
    border-top: 1px solid black;
    margin-top: 0.75em;
    padding-top: 0.5em;
}
.blogentry-view h1 {
    margin-top: 0.5em;
}
.blog-view .description,
.blogentry-view .description {
    font-style: italic;
}
.blog-metadata {
    margin-bottom: 20px;
    border-bottom: 1px solid #EEE;
}
